.car-intro-container{
    width:100%;
    display:flex;
    padding-left:30px;
    padding-right:30px;
    padding-top:80px;
    justify-content: space-between;
    height:100vh;
    

}
.car-title{
    margin-top:100px;
}

.carImage{
    width:60%;
    
}
.buy-btn{
    width:150px;
    background-color: orange;
    border:none;
    border-radius: 10px;
    padding:10px;
    color:white;
    font-size:20px;
    transition:all 0.3s ease-in-out;
}
.buy-btn:hover{
    background-color:white;
    color:black;
    border:2px solid black;

}
